<div class="sidebar d-print-none d-none d-xl-block">

    <h2>Содержание книги:</h2>
    <nav class="nav flex-column">
    {{ range $key, $value := .Site.Taxonomies.categories }}

        {{ range $value }}
        <a href='{{ $.Site.BaseURL}}/categories/{{ $key }}' class="nav-link">
        {{ .Name }}

        </a>
        {{ end }}

    {{ end }}
    </nav>
</div>