<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">Введение</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/appendix/" | absURL }}">Приложения</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/rust/" | absURL }}">Rust</a>
</li>



